@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply overflow-x-hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    @apply font-Poppins bg-white text-neutral-700 overflow-x-hidden;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.mobile-prevent-scroll,
body.mobile-prevent-scroll {
    @apply overflow-y-hidden md:overflow-y-auto;
}
