*,
*::before,
*::after {
  @apply box-border m-0 p-0;
}

/* Remove number input type arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
