/* .scrollbar-thin {
    scrollbar-width: thin;
}
.scrollbar-thin::-webkit-scrollbar {
    @apply w-1;
}
.scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(31, 31, 60, 0.1);
    @apply rounded-[20px] border-transparent;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

.swiper-visible.swiper {
    @apply overflow-visible;
}

.max-h-vh {
    max-height: calc(100 * var(--vh));
}

/* .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
} */

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .lg\:line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
